@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

@layer base {

    body{
        @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
    }

    h1, h2, h3, h4, h5, h6{
        @apply font-bold
    }

    h1{
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2{
        @apply text-4xl sm:text-4xl
    }

    li{
        @apply cursor-pointer
    }

    
    .btn{
        @apply inline-block p-2 shadow-xl shadow-gray-400 rounded-xl uppercase bg-[#365084]
    }

    .btn:hover{
        @apply bg-gradient-to-r from-[#365084] to-[#a21a21] text-white
    }

    .btn-outline{
        @apply border-2 p-2 inline-block bg-transparent rounded-xl uppercase border-gray-600 text-gray-300
    }

    .btn-outline:hover{
        @apply bg-gradient-to-r from-[#365084] to-[#a21a21] text-white
    }

    .icolink:hover{
        @apply text-[#a21a21] ease-in duration-300
    }

    .mask{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../public/assets/headerImgZeta.jpg');
        background-size: cover;
        background-position: center;
    }

    
}
